<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home_page</title>
    <link rel="stylesheet" href="../static/css/home_page.css">
</head>
<body>

     
    <div id="mian-container"
    style="display: inline-block;
    width: 100vw;
    height: 100vh;
    position: fixed;">

        <!--Side nav bar-->
        <nav id="side-nav">
            <div style="text-align: center;
            font-size:larger ;">
                <h1>Quote</h1>
            </div><br><br><br><br>

            <ul style="list-style: none;">
                <li class="nav-icons"><a href="../templates/home_page.html" style="text-decoration: none; color: rgb(0, 0, 0);" ><img class="icons" src="../static/icons/home.png" alt=""> Home</a></li>
                <li class="nav-icons"><a href="../templates/explore_page.html" style="text-decoration: none; color: rgb(0, 0, 0);" ><img class="icons" src="../static/icons/explore.png" alt="">Explore</a></li>
                <li class="nav-icons"><a href="../templates/library.html" style="text-decoration: none; color: rgb(0, 0, 0);" ><img class="icons" src="../static/icons/library.png" alt="">Library</a></li>
                <li class="nav-icons"><a href="../templates/saved.html" style="text-decoration: none; color: rgb(0, 0, 0);" ><img class="icons" src="../static/icons/saved.png" alt="">Collection</a></li>
                <li class="nav-icons"><a href="../templates/profile_page.html" style="text-decoration: none; color: rgb(0, 0, 0);" ><img class="icons" src="../static/icons/home.png" alt="">Setting</a></li>
            </ul>


        </nav>

        <!--top search bar-->
        <div id="top-search">
            <input type="text">

        </div>

        <!--selected content detail area-->
        <div id="content-detail">

        </div>

        <!--Content slider and display-->
        <div id="content-slider">

        </div>


    </div>
    
</body>
</html>