<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/login_page.css">
    <script src="../static/js/login_page.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="book-display">
            <img src="../static/images/book_cover/Alice in Wonderland.jpg" alt="">
        </div>

        <form action="" class="login">
            <h2>Login</h2>
            <input type="text" placeholder="user id"><br>
            <input type="password" placeholder="password"><br>
            <button>login</button><br>
            <a href="#">Create new account</a>
        </form>
    </div>
    
</body>
</html>